.resumen-estudiantes {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	gap: 1rem;
	margin: 0.8rem;
	width: 70%;
}
.resumen-estudiantes-card {
	background-color: aliceblue;
	border-radius: 1rem;
	height: 8rem;
	text-align: center;
	box-shadow: 0 0 5px black;
}
.nombre {
	background-color: rgb(154, 138, 117);
	border-top-left-radius: 0.9rem;
	border-top-right-radius: 0.9rem;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 0.2rem;
}
.nombre p {
	font-size: 0.7rem;
}
.resumen-clases {
	display: flex;
	height: 4rem;
	justify-content: space-between;
	font-size: 0.8rem;
}
.resumen-clases h3 {
}
.resumen-estudiantes-card-actual {
	width: 50%;
}
.resumen-estudiantes-card-acumulado {
	width: 50%;
}
.add-leasson {
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 1.5rem;
	cursor: pointer;
	font-weight: bold;
	gap: 0.5rem;
}
.add-leasson span {
	font-size: 1.2rem;
}
.acumulados-totales {
	background-color: aliceblue;
	width: 500px;
}
